<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Director & Movie List</h1>
<div th:each="director : ${directors}" th:value="${director.id}">
    <h2 th:text="${director.name}"></h2>
    <h6 th:inline="text">specializing in [[${director.genre}]]</h6>
    <h3>Some of its movies are: </h3>
    <ul>
        <th:block th:each="movie : ${movies}">
            <li th:inline="text"><b>[[${movie.title}]]</b> released in
                [[${movie.year}]]</li>
        </th:block>
    </ul>
</div>

</body>
</html>